body{
  text-align: center;
  background-image: url('../images/teashot.jpg');
  background-size: cover;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
hr{
  width: 950px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
a{
  font-weight: bold;
  font-size: 25px;
}
h1{
	font-family: 'Montserrat', sans-serif;}
h3{
	font-family: 'Norican', cursive;

}
