body{
  text-align: center;
  background-image: url("images/teashot.jpg");
  background-size: cover;
  color: #FFFFFF;
}
hr{
  width: 800px;
}
p{
  font-size: 45px
  font-family: 'Montserrat', sans-serif;
}
a{
  font-weight: bold;
  font-size: 25px;
}
h1{
	font-family: 'Montserrat', sans-serif;}
h3{
	font-family: 'Forum', cursive;

}
