header{
  text-align: left;
  color: #080808;
  font-family: Helvetica;
}
body{
	text-align: left;
 
  color: #ffdb22;
  font-family: Helvetica;

}
hr{
  width: 1000px;
}
p{
  font-size: 35px;
}
a{
  font-weight: bold;
  font-size: 25px
  color:#080808;
}
