body{
  background-image: url("../images/teashot.jpg");
  background-size: cover;
  color: #FFFFFF;
  font-family: Helvetica;
}
h1{
	text-align: center;
	color: #FFFFFF;
}
hr{
  width: 200px;
}
p{
  font-size: 30px;
}
