body{
  text-align: center;
  background-image: url("../images/teashot.jpg");
  background-size: cover;
  color: #FFFFFF;
  font-family: Helvetica;
}
hr{
  width: 200px;
}
p{
  font-size: 20px;
}
a{
  font-weight: bold;
}
